.main {
    padding-top: 40px;
}

.main__content {
    
    padding: 0 20px 20px 20px;
}

.main__content_bcolor{
    background-color: rgb(232, 238, 245);
}
.main__content_shadow{
    box-shadow: 0 -10px 30px rgb(4 36 100 / 10%);
}

.content__name {
    padding: 10px 20px 0px 20px;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 150%;
    font-weight: 700;
    color: #18206c;
}

/* нужно изменять стили в зависимости от ширины */
.content__info {
    display: flex;

    justify-content: space-evenly;
    align-items: flex-start;
}

.content__info_revers {
    /*нужно отключить модификатор в случае маленьких масштабов*/
    flex-direction: row-reverse;
}

.info__img {
    min-width: 45%;
}

.info__img img {
    max-width: 100%;
}

.info__text {
    padding: 50px 40px 0 40px;
}

@media (max-width: 992px) {
    .content__info {
        display: flex;
        flex-direction: column;
    }
    .content__info_revers{
        flex-direction: column;
    }

    .info__text{
        padding: 30px 40px;
    }

    .info__img{
        min-width: 400px;
    }
}

@media (max-width: 576px) {
    .info__img{
        min-width: 300px;
    }
}

@media (max-width: 396px) {
    .content__name{
        font-size: 16px;
    }

    .info__img{
        min-width: 200px;
    }

    .info__text p{
        font-size: 14px;
    }

}
@media (max-width: 316px) {
    .content__name{
        font-size: 14px;
    }

    .info__img{
        min-width: 150px;
    }

    .info__text p{
        font-size: 10px;
    }
}