.main{
    

    padding-top: 40px;
}

.main__content{
    box-shadow: 0 -10px 30px rgb(4 36 100 / 10%);
    padding: 0 20px 20px 20px;
}

.content__name{
    padding: 10px 20px 0px 20px;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 150%;
    font-weight: 700;
    color: #18206c;
}

.content__info{
    display: flex;

    justify-content: space-evenly;
    align-items: flex-start;
}
.content__info_revers{
    flex-direction: row-reverse;
}

.info__img{
    
}
.info__img img{
    width: 40vw;
}

.info__text{
    padding: 50px 40px 0 40px;
}