.main{
    background-color: white;

    padding-top: 40px;
}

.main__content{
    padding: 0 20px 20px 20px;
}

.content__name{
    padding: 10px 20px 0px 20px;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 150%;
    font-weight: 700;
    color: #18206c;
}

.content__info{
    display: flex;

    justify-content: flex-start;
    align-items: flex-start;
}

.info__img{
    
}
.info__img img{
    width: 40vw;
}

.info__text{
    padding: 50px 40px 0 40px;
}